<div class="row align-items-center ps-5">

    <div class="col-md-6 order-md-1 order-2 text-center text-md-start">
        <h1>Next generation digital banking</h1>

        <p class="text-secondary">
            Take your financial life online. Your Easybank account will be a one-stop-shop
            for spending, saving, budgeting, investing, and much more.
        </p>

        <button type="button" class="app-pill-btn">
            Request Invite
        </button>

    </div>

    <div class="col-md-6 text-center text-md-end order-md-2 order-1 bg-div" style="  background-image: url('assets/bg-intro-desktop.svg');">
        <img class="img-fluid w-75" src="assets/image-mockups.png" alt="intro image">
    </div>

</div> 