<div class="row bg-div text-white p-5 text-md-start text-center">

    <div class="col-md-2">
        <img  src="assets/logo-white.svg" alt="Easybank">

        <div class="d-flex gap-3 justify-content-center my-5">
            <img src="assets/icon-facebook.svg" alt="facebook">
            <img src="assets/icon-youtube.svg" alt="youtube">
            <img src="assets/icon-twitter.svg" alt="twitter">
            <img src="assets/icon-pinterest.svg" alt="pinterest">
            <img src="assets/icon-instagram.svg" alt="instagram">
        </div>
    </div>


    <div class="col-md-2 offset-md-1">
        <p>About Us</p>
        <p>Contact</p>
        <p>Blog</p>

    </div>
    <div class="col-md-2 ">
        <p>Careers</p>
        <p>Support</p>
        <p>Privacy Policy</p>
    </div>

    <div class="col-md-3 ms-auto text-md-end">
        <button type="button" class="app-pill-btn mb-3">
            Request Invite
        </button>

        <p class="text-secondary">
            © Easybank. All Rights Reserved
        </p>
    </div>
</div>